/.env
/messages.json
/index.js
/webhooks.json
/.vscode
/auths.json
node_modules
userAuths.json
users.json
config/*.js
pages/doc
statuses.json
pages/chat/src
pages/chat/script.js
out
# old stuff to maintain compatibility
handlers/*.js
modules/*.js
modules/*/*.js
lib/*.js