/.env
/messages.json
/index.js
/webhooks.json
/.vscode
/auths.json
node_modules
userAuth*.json
users.json*
config/*.js
pages/doc
statuses.json
pages/chat/script.js
pages/chat/script.js.map
pages/chat/style.css
pages/chat/style.css.map
pages/media/script.js
pages/media/script.js.map
out
data
config/out
# old stuff to maintain compatibility
handlers/*.js
modules/*.js
modules/*/*.js
lib/*.js
ts/handlers/*.js
ts/modules/*.js
ts/modules/*/*.js
ts/lib/*.js
pages/chat/src
backup-service/target
backup-service/config.json
