:root {
    --view-width: 85%;
    --sidebar-left: 0%;
    --transition-time: 0.25s;
}

body {
    overflow: hidden;
    margin: 0;
}

div.view {
    position: fixed;
    width: var(--view-width);
    height: 83%;
    padding-bottom: 1%;
    top: 8%;
    right: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: width var(--transition-time) ease;
}

div.message {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 95%;
    margin-left: 0.5%;
    opacity: 0;
    transition: opacity 0.5s;
    margin-top: 1vh;
}

div.message[fixed='true'] {
    opacity: 1;
}

div.message div {
    margin-right: auto;
}

div.message p {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-all;
}

div.message b {
    width:100%;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

div.message img:not(.attached-image) {
    width: 4.5vh;
    margin-right: 1%;
    align-self: start;
    border-radius: 100%;
}

div.message i:not(.fas) {
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.message i.fas {
    margin-left: 1%;
}

div.message i.fas:last-of-type {
    margin-right: 1%;
}

div.message:not([fixed='true']):hover {
    background-color: hsl(0, 0%, 90%);
    border-top-left-radius: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 50px;
}

div#connectdiv-holder {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
}

div#connectdiv {
    background: linear-gradient(to bottom right, hsl(221, 90%, 72%) 0%, hsl(240, 76%, 31%) 100%);
    padding: 2.5%;
    border-style: none;
    border-radius: 15px;
}

div#connectdiv h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
div#connectdiv p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
div#connectdiv ul, div#connectdiv li {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button#connectbutton {
    margin-top: 5%;
    padding: 3%;
    width: 100%;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 90%);
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#footer {
    z-index: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: var(--view-width);
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width var(--transition-time) ease;
    background-color: white;
}

div#footer form {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 1%;
    width: 99%;
    height: 90%;
    margin: 0;
}
div#footer form input[type="text"] {
    width: 95%;
    font-size: x-large;
    padding: 0;
    margin: 0;
    height: 80%;
    align-self: center;
    padding: 1%;
    border-style: none;
    border-radius: 1000px;
    background-color: hsl(0, 0%, 90%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div#footer form button {
    width: 0%;
    font-size: 2em;
    padding: 0;
    margin: 0;
    border-style: none;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 8%;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 90%);
}

header h1 {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
}
header label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header input, header button {
    margin-right: 1%;
}
header button {
    border-radius: 5px;
    border: none;
    padding: 0.5%;
    font-size: medium;
    background-color: hsl(0, 0%, 80%);
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header img {
    margin-left: 1%;
    cursor: pointer;
}
header p#archive-update {
    margin-left: auto;
    margin-right: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

div#sidebar {
    z-index: 1;
    position: absolute;
    width: 15%;
    height: 92%;
    top: 8%; 
    left: var(--sidebar-left);
    border-right: solid 1px hsl(0, 0%, 75%);
    overflow: hidden;
    transition: left var(--transition-time) ease;
}

span.outline-item {
    display: inline-block;
    text-align: left;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 1%;
    font-weight: 600;
    border-radius: 9px;
}
span.outline-item i {
    margin-right: 2%;
    margin-left: 1%;
}
span.outline-item:hover {
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;
}
div.online-user {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-radius: 9px;
}
div.online-user:hover {
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;
}

div.online-user img {
    width: 15%;
    margin-right: 2%;
    border-radius: 100%;
}

div.online-user img.editOption {
    margin-left: auto;
    width: 10%;
}

div.online-user span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#profile-pic-display {
    height: 70%;
    max-width: 20%;
    border-radius: 100%;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

#webhook-options {
    width: 45%;
    max-height: 60%;
    overflow-x: hidden;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px hsl(0, 0%, 70%);
    position: fixed;
    left: calc(100% - var(--view-width) + 0.5%);
    bottom: 8%;
}

#webhook-options .webhook-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

#webhook-options .webhook-option .options {
    position: absolute;
    right: 0;
}

#webhook-options .webhook-option .options img {
    border: none;
    width: 4vh;
    height: 4vh;
    border-radius: 0;
}

#webhook-options .webhook-option:hover {
    background-color: hsl(0, 0%, 90%);
}

#webhook-options .webhook-option img {
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

#webhook-options h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#sidebar_alert_holder {
    z-index: 1;
    position: fixed;
    bottom: 9%;
    left: 1%;
    height: 30%;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.sidebar_alert {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px hsl(0, 0%, 70%);
    padding: 1%;
    visibility: hidden;
    height: 15%;
}

div.sidebar_alert img {
    height:100%;
    margin-right: 1%;
}

div.sidebar_alert p {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.alert-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 5;
}

div.alert-popup {
    display: grid;
    grid-template-areas: 
    'title'
    'content'
    'content'
    'content'
    'content'
    'content'
    'close';
    min-width: 30%;
    max-width: 35%;
    min-height: 20%;
    max-height: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
}

div.alert-popup button {
    --bg-col: rgb(206, 206, 206);
    grid-area: close;
    background-color: var(--bg-col);
    border-style: none;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 10px;
    outline: 0px solid var(--bg-col);
    transition: outline 0.1s ease;
}
div.alert-popup button:hover {
    outline: 4px solid var(--bg-col);
}

div.alert-popup h1 {
    font-size: x-large;
    height: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-area: title;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 1%;
    font-weight: normal;
    
}

div.alert-popup p {
    grid-area: content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
}

button#log_out_connect {
    position:absolute;
    width: 30%;
    height: 10%;
    bottom: 15%;
    border: none;
    background-color: #00000000;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 0, 0);
    cursor: pointer;
}

#attach-image {
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}

#image-box {
    display: none;
    position: fixed;
    border: solid 3px black;
    width: 40%;
    height: 80%;
    background: lightgrey;
    border-radius: 25px;
    top: 10%;
    left: 30%;
    padding-left: 5%;
    z-index:2
}
 
#image-box-display {
    min-width: 25px;
    min-height: 25px;
    max-width: 500px;
    max-height: 300px;
    border-radius: 25px;
}

#image-box > button {
    font-size: 20px;
    margin-top: 10px;
    padding: 7px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#attach-image[data-image-attached] {
    background-color: lightgreen;
}

.attached-image {
    min-width: 50px;
    min-height: 50px;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
}

div#settings-holder {
    display: none; /* flex */
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 5;
}
div#settings_box {
    width: 35%;
    min-height: 0%;
    max-height: 75%;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    overflow-y: auto;
}
div#settings_box summary {
    font-size: xx-large;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1%;
}

div#settings_box details {
    margin-bottom: 1%;
}

div#settings_box p, b, i, label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button#settings-exit-button {
	position: absolute;
	width: 15%;
	background-color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
	margin-bottom: 1%;
	border: none;
	align-self: flex-end;
	padding: 0.5%;
	border-radius: 10px;
	font-size: large;
}