body {
    overflow: hidden;
    margin: 0;
}

div.view {
    position: fixed;
    width: 85%;
    height: 84%;
    top: 8%;
    left: 15%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

div.message {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 95%;
    margin-left: 0.5%;
    opacity: 0;
    transition: opacity 0.5s;
    margin-top:1%;
    margin-bottom:1%;
}

div.message[fixed='true'] {
    opacity: 1;
}

div.message div {
    margin-right: auto;
}

div.message p {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-all;
}

div.message b {
    width:100%;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

div.message img:not(.attached-image) {
    width: 2.5%;
    margin-right: 1%;
}

div.message i:not(.fas) {
    font-style: normal;
    /*This is not useless when I made it a p the alignment broke*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.message i.fas {
    margin-left: 1%;
}

div.message i.fas:last-of-type {
    margin-right: 1%;
}

div.message:not([fixed='true']):hover {
    background-color: hsl(0, 0%, 95%);
    outline: solid 1px black;
}

div#connectdiv-holder {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
}

div#connectdiv {
    background: linear-gradient(to bottom right, hsl(221, 90%, 72%) 0%, hsl(240, 76%, 31%) 100%);
    padding: 2.5%;
    border-style: none;
    border-radius: 15px;
}

div#connectdiv h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
div#connectdiv p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
div#connectdiv ul, div#connectdiv li {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button#connectbutton {
    margin-top: 5%;
    padding: 3%;
    width: 100%;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 90%);
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    display: flex;
    background: linear-gradient(to bottom right, hsl(221, 90%, 72%) 0%, hsl(240, 76%, 31%) 100%);
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 90%);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

div#footer form {
    display: grid;
    grid-template-areas: 
    'input input input input input button';
    column-gap: 1%;
    width: 99%;
    height: 90%;
    margin: 0;
}
div#footer form#search {
    display: none;
    grid-template-areas: 
    'input input input input input flags button button button';
    column-gap: 1%;
    width: 99%;
    height: 90%;
    margin: 0;
}
div#footer form input[type="text"] {
    grid-area: input;
    font-size: 2em;
    padding: 0;
    margin: 0;
    border-style: none;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div#footer form input[type="submit"] {
    grid-area: button;
    font-size: 2em;
    padding: 0;
    margin: 0;
    border-style: none;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 8%;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 90%);
}

header h1 {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
}
header label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header input, header button {
    margin-right: 1%;
}
header img {
    margin-left: 1%;
}
header p#archive-update {
    margin-left: auto;
    margin-right: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

div#sidebar {
    z-index: 0;
    position: absolute;
    width: 15%;
    height: 92%;
    top: 8%; 
    left: 0;
    border-right: solid 1px black;
}

span.outline-item {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: solid 1px black;
    font-weight: bold;
}
span.outline-item:not([fixed="true"]):hover {
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
}

div#archive {
    visibility: hidden;
    position: fixed;
    width: 85%;
    height: 84%;
    top: 8%;
    left: 15%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
form#search input#regex-flags {
    grid-area: flags;
}

div.online-user {
    display: flex;
    justify-content: left;
    align-items: center;
}

div.online-user img {
    width: 15%;
    margin-right: 2%;
}

div.online-user img.editOption {
    margin-left: auto;
    width: 10%;
}

div.online-user span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#online-users {
    border-bottom: solid 1px black;
}

#profile-pic-display {
    height: 80%;
    max-width: 20%;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#webhook-options {
    width: 45%;
    max-height: 60%;
    overflow-x: hidden;
    background: white;
    border: solid 5px black;
    position: fixed;
    left: 0;
    bottom: 8%;
}

#webhook-options .webhook-option {
    display: flex;
    align-items: center;
    border-bottom: solid 3px black;
    cursor: pointer;
    width: 100%;
}

#webhook-options .webhook-option .options {
    position: absolute;
    right: 0;
}

#webhook-options .webhook-option .options img {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 0;
}

#webhook-options .webhook-option:hover {
    background-color: #cecece;
}

#webhook-options .webhook-option img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    border: solid 3px black;
}

#webhook-options h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#sidebar_alert_holder {
    z-index: 1;
    position: fixed;
    bottom: 9%;
    left: 1%;
    height: 30%;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.sidebar_alert {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    visibility: hidden;
    height: 15%;
}

div.sidebar_alert img {
    height:100%;
    margin-right: 1%;
}

div.sidebar_alert p {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.alert-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 5;
}

div.alert-popup {
    display: grid;
    grid-template-areas: 
    'title'
    'content'
    'content'
    'content'
    'content'
    'content'
    'content'
    'content'
    'close';
    min-width: 30%;
    max-width: 35%;
    min-height: 30%;
    max-height: 40%;
    background-color: white;
    border-radius: 10px;
}

div.alert-popup button {
    grid-area: close;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(206, 206, 206);
    border-style: none;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

div.alert-popup h1 {
    font-size: x-large;
    height: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-area: title;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    font-weight: normal;
    
}

div.alert-popup p {
    grid-area: content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
}

button#log_out_connect {
    position:absolute;
    width: 30%;
    height: 10%;
    bottom: 15%;
    border: none;
    background-color: #00000000;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 0, 0);
    cursor: pointer;
}

#attach-image {
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}

#image-box {
    display: none;
    position: fixed;
    border: solid 3px black;
    width: 40%;
    height: 80%;
    background: lightgrey;
    border-radius: 25px;
    top: 10%;
    left: 30%;
    padding-left: 5%;
    z-index:2
}
 
#image-box-display {
    min-width: 25px;
    min-height: 25px;
    max-width: 500px;
    max-height: 300px;
    border-radius: 25px;
}

#image-box > button {
    font-size: 20px;
    margin-top: 10px;
    padding: 7px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#attach-image[data-image-attached] {
    background-color: lightgreen;
}

.attached-image {
    min-width: 50px;
    min-height: 50px;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
}

div#settings-holder {
    display: none; /* flex */
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 5;
}
div#settings_box {
    width: 35%;
    height: 75%;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    overflow-y: scroll;
}
div#settings_box summary {
    font-size: xx-large;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1%;
}

div#settings_box details {
    margin-bottom: 1%;
}

div#settings_box p, b, i, label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button#settings-exit-button {
    width: 100%;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    cursor: pointer;
    margin-top: 1%;
    border: none;
}