dialog.create-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-text-color);
    width: 50vw;
    gap: 0.75em;
    /* padding: 1%; */

    div {
        width: 100%;
        background-color: var(--alt-bg-color);
        border-radius: 10px;
    }

    div.name {
        display: grid;
        grid-template-areas:
            "emoji name"
            "emoji desc";
        grid-template-columns: 1fr 3fr;
        overflow: hidden;

        input {
            border: none;
            font-size: var(--x-large-font-size);
            width: 100%;
            height: 100%;
            background-color: var(--alt-bg-color);
            color: var(--main-text-color);
            font-family: var(--font-family);
            justify-self: center;

            &:nth-of-type(2) {
                font-size: 1em;
            }
        }

        span {
            border-radius: 0;
            height: 2em;
            font-size: 5em;
            line-height: 2em;
            background-color: var(--alt-bg-color);
        }
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    div.invite {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 96%;
        padding-inline: 2%;
        padding-block: 0.5em;

        button {
            width: auto;
            padding: 0.5em;
        }

        p {
            font-size: 1.125em;
        }
    }

    div.buttons {
        width: 98%;
        background: none;
        padding: 1%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        button {
            width: 40%;
            font-size: 1.125em;
            padding: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button.create {
            grid-area: submit;
            color: black;
            background-color: var(--green);
        }

        button.cancel {
            grid-area: cancel;
            color: white;
            background-color: var(--red);
        }
    }

    button {
        font-family: var(--font-family);
        font-size: var(--medium-font-size);
        border: none;
        border-radius: 5px;
        background-color: var(--main-hover-color);
        color: var(--main-text-color);
        cursor: pointer;
    }
}