div#invites {
    position: fixed;
    left: 1%;
    bottom: 1.5%;
    z-index: 3;
    color: var(--main-text-color);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    display: none;
}

i#invite-icon {
    --size: 1.75em;

    font-size: 2vw;
    width: var(--size);
    height: var(--size);
    text-align: center;
    line-height: var(--size);
    background-color: var(--main-bg-color);
    border-radius: 100%;
    box-shadow: 0px 0px 20px 1px var(--main-box-shadow-color);
}

div.invites {
    overflow-y: auto;
}

div.invites h1 {
    text-align: center;
}

div.invites div {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

div.invites div i {
    margin-left: 5%;
    font-size: var(--xx-large-font-size);
    cursor: pointer;
}

div.invites div i:first-of-type {
    margin-left: auto;
}