dialog.search {
    color: var(--main-text-color);
    width: 50vw;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.375em;

    input {
        width: 90%;
        text-align: center;
        background-color: var(--alt-bg-color);
        color: var(--main-text-color);
        font-family: var(--font-family);
        padding: 0.25em;
        border-radius: 10px;
        border: none;
        font-size: var(--x-large-font-size);
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    div.display {
        width: 90%;
        overflow-y: auto;
        overflow-x: hidden;
        height: 70%;

        div {
            display: flex;
            align-items: center;
            justify-content: left;
            cursor: pointer;
            padding: 1%;
            width: 98%;
            border-radius: 5px;
            margin-block: 0.1em;

            img {
                width: 4.5vh;
                height: 4.5vh;
                border-radius: 100%;
                margin-right: 1%;
            }
        }

        div:hover {
            background-color: var(--main-hover-color);
        }

        div.selected i {
            margin-inline: 1em;
        }
        
    }

    button {
        font-family: var(--font-family);
        padding: 0.75em;
        border: none;
        border-radius: 5px;
        width: 30%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-bg-color);
        color: var(--main-text-color);

        &.red {
            background-color: var(--red);
            color: white;
        }

        &.green {
            background-color: var(--green);
            color: black;
        }
    }

    div.buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

}