div.modal.status {
    display: grid;
    grid-template-areas:
        "title title title"
        "emoji text text"
        "save reset cancel";
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 33% 33% 33%;
    width: 40%;
    height: 35%;
    top: 32.5%;
    left: 30%;
    justify-items: center;
    align-items: center;
}

div.modal.status h1 {
    grid-area: title;
}

div.modal.status span.emoji-picker-opener {
    grid-area: emoji;
}

div.modal.status input {
    grid-area: text;
    font-family: var(--font-family);
    font-size: var(--medium-font-size);
    height: min-content;
    width: 100%;
    padding: 3%;
    border: none;
    border-radius: 10px;
    background-color: var(--main-hover-color);
    color: var(--main-text-color);
    font-family: var(--font-family);
}

div.modal.status button {
    font-family: var(--font-family);
    font-size: var(--medium-font-size);
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 90%;
    background-color: var(--main-hover-color);
    color: var(--main-text-color);
    cursor: pointer;
}

div.modal.status button.save {
    color: black;
    background-color: hsl(120, 100%, 71%);
    grid-area: save;
}

div.modal.status button.reset {
    color: white;
    background-color: hsl(0, 100%, 64%);
    grid-area: reset;
}

div.modal.status button.cancel {
    grid-area: cancel;
}