activity-bar {
    width: 100%;

    > div.activity-bar {
        height: 1.5em;
        width: 100%;
        overflow: hidden;
        border-radius: 50px;
        background-color: var(--main-bg-color);

        > div.item {
            height: 100%;
            display: inline-block;

            @for $count from 1 through 10 {
                &.count-#{$count} {
                    background-color: hsla(212, 100%, 50%, $count * 0.1);
                }
            }
        }
    }

    > div.activity-labels {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--alt-text-color);
    }
}

dialog.activity {
    display: grid;
    grid-template-areas: 
    'sidebar body'
    'footer footer'
    'buttons buttons';

    grid-template-columns: 1fr 3fr;
    width: 40%;

    align-items: center;
    justify-content: center;
    
    div.sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        button {
            background-color: var(--main-bg-color);
            color: var(--main-text-color);
            font-family: var(--font-family);
            font-size: 1.1em;
            padding: 0.5em;
            margin: 0.125em;
            border-radius: 5px;
            width: 100%;
            transition: background-color 250ms;
            cursor: pointer;

            &:hover, &.selected {
                background-color: var(--alt-bg-color);
            }
        }
    }

    div.body {
        padding: 0.25em;
        border-radius: 5px;
        height: 100%;
        color: var(--main-text-color);
        display: flex;
        align-items: center;
        justify-content: center;

        activity-bar div.activity-bar {
            background-color: var(--alt-bg-color) !important;
        }

        p {
            text-align: center;
        }
    }

    div.footer {
        grid-area: footer;
        color: var(--alt-text-color);
        font-size: 0.85em;
    }

    div.buttons {
        grid-area: buttons;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0.5em;

        button {
            cursor: pointer;
            font-family: var(--font-family);
            background-color: var(--alt-bg-color);
            color: var(--main-text-color);

            font-size: 1em;
            padding: 0.325em;
            border-radius: 5px;
            width: 40%;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.25em;
        }
    }
}