.noto-color emoji-regular {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}

div.emoji-select {

    button span {
        font-family: "Noto Color Emoji", sans-serif !important;
    }

    div.preview > div.previewEmoji {
        font-family: "Noto Color Emoji", sans-serif !important;
    }
}