image-container {
    overflow: hidden;
    height: 12.5em;
    aspect-ratio: 1 / 1;
    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 0.25em;

    position: relative;
    cursor: pointer;

    > img {
        object-fit: contain;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: box-shadow 250ms, background-color 250ms;
    }

    &.outline::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 1.5em 1em var(--outline-color);
        transition: box-shadow 250ms;
    }

    &:hover {

        &::before {
            box-shadow: inset 0 0 1.5em 1em hsla(0, 0%, 30%, 0.25);
        }

        &.outline::after {
            box-shadow: inset 0 0 2.5em 2em var(--outline-color);
        }

        i.hover {
            opacity: 1;
        }
    }

    &:hover::before,
    &.perm-child::before {
        background-color: hsla(0, 0%, 25%, 0.25);
    }

    > i {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 4em;
        display: flex !important;
        align-items: center;
        justify-content: center;

        &.hover {
            opacity: 0;
            transition: opacity 250ms;
            color: white;
        }
    }

    p {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        
        margin: 0;
        padding: 0.5em;
        width: calc(100% - 1em);

        background-color: hsla(0, 0%, 0%, 0.65);
        color: white;
        font-family: sans-serif;
        font-size: var(--small-font-size);
        
        display: flex;
        align-items: center;
        justify-content: left;

        i {
            margin-left: auto !important;
            color: white !important;
        }
    }

    &.link-text:hover p {
        text-decoration: underline;

        i {
            text-decoration: none;
        }
    }

}

div.attached-image-preview-container {
    position: absolute;
    left: 0;
    bottom: calc(100% + 0.5em);
    color: white;
    width: calc(100% - 1em);
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;
    pointer-events: none;

    image-container {
        pointer-events: all;
    }
}

div.media-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-areas: 'sidebar media';
    grid-template-columns: 22.5% auto;
    grid-template-rows: 100%;

    background-color: var(--main-holder-color);
    z-index: 3;

    div.sidebar {
        grid-area: sidebar;
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        font-family: var(--font-family);
        padding-inline: 1em;
        gap: 1%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        overflow-y: auto;

        h1 {
            align-self: center;
            font-family: var(--alt-font-family);
            margin-bottom: 0;
        }

        span {
            padding: 0.5em;
            width: calc(100% - 2em);
            font-size: var(--medium-font-size);
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 0.75em;

            &.center {
                text-align: center;
                justify-content: center;
            }

            img {
                height: 2em;
                aspect-ratio: 1 / 1;
                border-radius: 100%;
            }

            i {
                font-size: 1.75em;
            }
        }

        div.background-options {
            font-size: var(--small-font-size);
            border: 2px solid var(--main-border-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;
            align-self: center;

            div {
                padding: 0.75em;
                cursor: pointer;

                &:not(:last-of-type) {
                    border-right: 2px solid var(--main-border-color);
                }

                &.white {
                    background-color: white;
                    color: black;
                }

                &.black {
                    background-color: black;
                    color: white;
                }
            }
        }

        button {
            display: grid;
            grid-template-columns: 2em auto;

            align-items: center;
            justify-items: center;

            border: 2px solid var(--main-border-color);
            background: none;
            font-size: var(--medium-font-size);
            color: var(--main-text-color);
            padding: 0.5em;
            border-radius: 10px;
            width: 100%;
            font-family: var(--font-family);

            cursor: pointer;

            i {
                font-size: 1.5em;
            }

            &:last-of-type {
                margin-top: auto;
                margin-bottom: 1em;
            }
        }
    }

    img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
        grid-area: media;
        align-self: center;
        justify-self: center;
    }

}

:root.fit-height,
:root.fit-all {
    image-container img {
        height: 100%;
    }
}

:root.fit-all {
    image-container img {
        width: 100%;;
    }
}