div.settings-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-holder-color);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
    color: var(--main-text-color);
    font-family: var(--font-family);

    > div {
        width: 75%;
        height: 75%;
        background-color: var(--main-bg-color);

        display: grid;
        grid-template-areas:
            'list content content'
            'reset content content'
            'save content content';

        grid-template-columns: 20vw auto 20vw;
        grid-template-rows: auto 5em 5em;

        overflow: hidden;
        border-radius: 15px;

        border: 1em solid var(--main-bg-color);

        div.list {
            grid-area: list;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: var(--x-large-font-size);
            background-color: var(--alt-bg-color);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;

            span {
                padding: 0.75em;
                text-align: center;
                cursor: pointer;
                user-select: none;

                &:hover, &.main {
                    background-color: var(--main-hover-color);
                }
            }
        }

        div.item {
            grid-area: content;
            display: none;
            height: 100%;

            &.main {
                display: block;
            }

            &.about {
                grid-template-areas: 
                'logo version'
                'text text'
                'info credits';

                grid-template-columns: 1fr 1fr;
                grid-template-rows: 40% 10 auto;
                align-items: flex-start;
                justify-items: center;

                width: 100%;
                height: 100%;

                &.main {
                    display: grid;
                }

                img:first-of-type {
                    grid-area: logo;
                }

                img:nth-of-type(2) {
                    grid-area: version;
                }

                img {
                    width: 75%;
                    height: 100%;
                    object-fit: contain;
                }

                h1 {
                    grid-area: text;
                    font-size: var(--xx-large-font-size);
                }
            }

            span {
                display: block;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 1em;
            }
        }

        div.button {

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--alt-bg-color);

            button {
                font-size: var(--x-large-font-size);
                font-family: var(--font-family);
                color: black;
                border: none;
                border-radius: 10px;
                padding: 0.5em;
                margin-bottom: 1em;
                cursor: pointer;
                width: 75%;
            }

            &.close {
                grid-area: save;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                button {
                    background-color: hsl(120deg, 100%, 71%);
                    color: black;
                }
            }

            &.reset {
                grid-area: reset;

                button {
                    background-color: hsl(0deg, 100%, 64%);
                    color: white;
                }
            }

        }

    }

}