@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import 'emoji.scss';
@import 'themes.scss';

:root {
  --view-width: calc(100% - 22rem);
  --sidebar-left: 0%;
  --transition-time: 0.25s;
  --font-family: "Source Sans Pro", "Noto Color Emoji", sans-serif;
  --alt-font-family: "Open Sans", "Noto Color Emoji", sans-serif;

  @include light;

  ::backdrop {
    // https://stackoverflow.com/a/63322762/
    @include light;
  }

  &.dark {
    ::backdrop {
      @include dark;
    }

    @include dark;
  }

  &.ukraine {
    ::backdrop {
      @include ukraine;
    }

    @include ukraine;
  }

  &.borderless *:not(hr) {
    border-style: none;
  }

  //--[size]-font-size: clamp([lower limit]rem, calc([responsive]vh + [anchor]em), [upper limit]rem)

  --x-small-font-size: clamp(0.3rem, calc(0.4vh + 0.4em), 0.6rem);
  --small-font-size: clamp(0.5rem, calc(1.1vh + 0.5em), 1rem);
  --medium-font-size: clamp(0.5rem, calc(0.8vh + 0.6em), 1.2rem);
  --x-large-font-size: clamp(0.5rem, calc(1vh + 0.8em), 2rem);
  --xx-large-font-size: clamp(0.5rem, calc(1vh + 1.5em), 3rem);

  --sidebar-font-size: clamp(0.5rem, calc(1.1vh + 0.6em), 1.1rem);
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar-left view sidebar-right";

  grid-template-rows:
    auto minmax(0, 1fr);

  grid-template-columns:
    clamp(15rem, 20vw, 22rem) 1fr clamp(15rem, 20vw, 22rem);

  // height: 100%;

  // &.hide-bar {
  //   grid-template-rows:
  //     auto
  //     minmax(0, 1fr)
  //     0;
  // }

  background-color: var(--main-bg-color)
}

@import "view.scss";
@import "dialog.scss";

@keyframes dotDotDot {
  0% {
    content: ".";
  }

  33% {
    content: "..";
  }

  66% {
    content: "...";
  }

  100% {
    content: ".";
  }
}

*.hidden {
  display: none;
}

@import "message.scss";
@import "imageContainer.scss";

div#connectdiv-holder {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
}

div#connectdiv {
  background: linear-gradient(to bottom right,
      hsl(221, 90%, 72%) 0%,
      hsl(240, 76%, 31%) 100%);
  padding: 2.5%;
  border-style: none;
  border-radius: 15px;
}

div#connectdiv h1 {
  color: white;
  font-family: var(--alt-font-family);
  text-align: center;
}

div#connectdiv p {
  color: white;
  font-family: var(--alt-font-family);
  text-align: center;
}

div#connectdiv ul,
div#connectdiv li {
  color: white;
  font-family: var(--alt-font-family);
}

button#connectbutton {
  margin-top: 5%;
  padding: 3%;
  width: 100%;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px hsl(0, 0%, 90%);
  cursor: pointer;
  font-family: var(--alt-font-family);
}

@import "messageBar.scss";

header:not(.emoji-select header) {
  grid-area: header;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--main-header-color);
  // box-shadow: 0px 0px 5px 1px var(--main-header-color);

  font-family: var(--alt-font-family);
  color: var(--main-text-color);

  h1 {
    color: var(--main-text-color);
    font-family: var(--alt-font-family);
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    font-size: calc(2vh + 0.5em);
  }

  img {
    margin-left: 1%;
    height: 3em;
  }

  p#header-p {
    margin: 0;
    margin-left: 1%;
    font-size: 2.5em;
    user-select: none;
    cursor: pointer;
  }

  p#header-schedule {
    margin: 0;
    margin-left: auto;
    font-size: var(--small-font-size);
  }

  // span {
  //   margin-left: 1.25rem;
  //   color: var(--main-text-color);
  //   font-family: var(--font-family);
  //   padding: 0.5em;
  //   font-size: var(--small-font-size);
  //   width: 1.2em;
  //   height: 1.2em;
  //   border: 2px solid var(--main-border-color);
  //   border-radius: 15px;
  //   cursor: pointer;

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   &:first-of-type {
  //     margin-left: auto;
  //   }

  //   &:last-of-type {
  //     margin-right: 1.25rem;
  //   }

  // }

  i#settings-header {
    margin-left: auto;
    margin-right: 1.25rem;
    font-size: calc(var(--xx-large-font-size) - 0.4em);
    cursor: pointer;
  }

  div.schedule {
    margin-right: 0.5em;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    font-family: var(--font-family);

    > span {
      text-align: right;
      font-size: 0.85em;

      &:nth-of-type(2) {
        font-size: 0.8em;
        color: var(--alt-text-color);
      }
    }

  }

  img#header-profile-picture {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  div#user-img-holder {
    margin-right: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;

    background-color: var(--alt-bg-color);
    border-radius: 5px;

    cursor: pointer;
  }
}

@import "sideBar.scss";

span.version {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: var(--x-small-font-size);
  color: var(--main-text-color);
  font-family: var(--font-family);
  cursor: pointer;
}

hr {
  color: var(--main-border-color);
  border: none;
  border-top: solid 1px var(--main-border-color);
  height: 0px;
}

div#sidebar-alert-holder {
  z-index: 3;
  position: fixed;
  bottom: 9%;
  left: 1%;
  height: 30%;
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
}

div.sidebar-alert {
  display: none; // flex
  justify-content: left;
  align-items: center;
  position: relative;
  overflow: hidden;

  padding: 0.5em;
  margin: 0.25em;

  background-color: var(--main-bg-color);
  border-radius: 7.5px;
  box-shadow: 0px 0px 20px 1px var(--main-box-shadow-color);
  visibility: hidden;
  color: var(--main-text-color);

  img {
    height: 2em;
    margin-right: 0.25em;
  }

  p {
    display: inline-block;
    margin: 0;
    font-size: var(--small-font-size);
    font-family: var(--font-family);
  }

  &:has(div.progress-holder) {
    padding-bottom: 0.75em; // looks a little bit better
  }

  div.progress-holder {
    width: 100%;
    height: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--alt-bg-color);

    > div {
      height: 100%;
      transition: width 500ms;
    }
  }
}

@import "polls.scss";
@import "settings.scss";

div#account-options-display {
  display: none;
  position: fixed;
  top: 7%;
  right: 1%;
  width: 20%;
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 20px 1px var(--main-box-shadow-color);
  border-radius: 10px;
  z-index: 3;
}

div.account-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

div.account-option:not(:last-child) {
  border-bottom: 1px solid var(--main-border-color);
}

div.account-option:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.account-option:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.account-option h1 {
  color: var(--main-text-color);
  font-family: var(--alt-font-family);
  font-weight: 500;
  font-size: var(--x-large-font-size);
}

div.account-option i {
  color: var(--main-text-color);
}

div.account-option:hover {
  background-color: var(--main-hover-color);
}

div.emoji-select {
  position: fixed;
  z-index: 1;
}

div#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  z-index: 5;
}

div#loading img {
  height: 50vmin;
}

div#loading p {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: var(--xx-large-font-size);
}

div#loading p::after {
  content: "";
  animation-name: dotDotDot;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

div#dev-options {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 20px 1px var(--main-box-shadow-color);
  border-radius: 15px;
  display: none;
}

@import "home.scss";
@import "modal/main.scss";
@import "invites.scss";

div.emoji-select {
  z-index: 10;
}

div.bot-info h1,
div.bot-info p,
div.bot-info i {
  display: block;
  width: 100%;
  text-align: center;
}

div.bot-info ul {
  line-height: 200%;
}

i.hotkey {
  background-color: hsl(0, 5%, 90%);
  color: black !important;
  height: calc(1em - 2px); // 2px to account for border on each side
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal !important;

  border: 1px solid hsl(0, 5%, 65%) !important;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px var(--main-box-shadow-color);

  &.wide {
    width: calc(2em - 2px) !important;
  }

  &:not(.wide) {
    width: calc(1em - 2px) !important;
  }

  &.margin {
    margin-inline: 0.25em;
  }
}

@import "mobile.scss"; // has to be at the bottom so it overrides the main css and not the other way around

section[style*="rgb(102, 110, 128)"][style*="fixed"] {
  display: none !important; // only this is needed, but the others are here just in case 
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
  // this blocks lightspeed classroom from "locking" the page
}