@mixin light {
    --main-text-color: black;
    --alt-text-color: hsl(0, 0%, 25%);
    --main-bg-color: white;
    --alt-bg-color: hsl(0, 0%, 90%);
    --main-hover-color: hsl(0, 0%, 85%);
    --main-border-color: hsl(0, 0%, 75%);
    --main-button-color: hsl(0, 0%, 81%);
    --main-holder-color: hsla(0, 0%, 0%, 0.5);
    --main-header-color: hsl(0, 0%, 90%);
    --main-box-shadow-color: hsl(0, 0%, 70%);
}

@mixin dark {
    --main-text-color: white;
    --main-bg-color: hsl(0, 0%, 8%);
    --alt-bg-color: hsl(0, 0%, 13%);
    --main-hover-color: hsl(0, 0%, 30%);
    --main-border-color: hsl(0, 0%, 75%);
    --main-button-color: hsl(0, 0%, 81%);
    --main-holder-color: hsla(0, 0%, 15%, 0.5);
    --main-header-color: hsl(0, 0%, 0%);
    --main-box-shadow-color: hsl(0, 0%, 20%);
    --alt-text-color: hsl(0, 0%, 80%);
}

@mixin ukraine {
    --main-text-color: hsl(50, 100%, 50%);
    --main-bg-color: hsl(211, 100%, 37%);
    --alt-bg-color: hsl(211, 100%, 32%);
    --main-hover-color: hsl(211, 100%, 27%);
    --main-border-color: hsl(50, 100%, 40%);
    --main-button-color: hsl(211, 100%, 17%);
    --main-holder-color: hsla(0, 0%, 15%, 0.5);
    --main-header-color: hsl(211, 100%, 27%);
    --main-box-shadow-color: hsl(211, 100%, 37%);
    --alt-text-color: hsl(50, 100%, 40%);

    // little easter egg for all the dedicated ukraine mode users
    *::selection {
        background-color: var(--main-text-color);
        color: var(--main-bg-color);
        // they get a custom selection color
    }
}